<ng-template #isSaved>
  2
  <!-- application stage = 1 -->
  <form #add="ngForm" (ngSubmit)="onSubmit(add.value)">
    <div class="form-group">
      <h2 class="text-muted">Detailed Assessment</h2>
    </div>
    <div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr width="100%" *ngFor ="let row of AssessmentPage;let i = index">
            <td width="70%">Question{{i+1}}. {{row.questionTextEN}}</td>

            <td width="30%" *ngIf="AssessmentPage[i].questionType==='MULTIPLE_CHOICE_MULTIPLE_ANSWER'; else dropdownbox">
              <div *ngFor="let option of AssessmentPage[i]['questionOptionModel'] ;let j = index">
                <input type="checkbox" [checked]="AnswersData[i].optionTextsEN.indexOf(option.optionTextEN)!== -1?true:false" (change)="selectChangeHandler(option,$event,AssessmentPage[i].questionId)"> {{AssessmentPage[i].questionOptionModel[j]['optionTextEN']}}
              </div>
            </td>
            <ng-template #dropdownbox>
              <ng-container *ngIf="AssessmentPage[i].questionType==='MULTIPLE_CHOICE_SINGLE_ANSWER'; else others">
                <select style="width:100%" (change)="onSelect($event.target.value)" [(ngModel)]="AnswersData[i].optionIds" name="{{i}}" class="form-control">
                  <option *ngFor="let singleOption of AssessmentPage[i]['questionOptionModel']; let i = index" [value]="singleOption.optionId">
                    {{singleOption.optionTextEN}}
                  </option>
                </select>
              </ng-container>
            </ng-template>
            <ng-template #others>
              <input type="text" [(ngModel)]="AnswersData[i].optionTextsEN" name="{{i}}" size="45" />
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button type="submit" class="btn btn-info" title="saving application">Save</button>&nbsp;
      <button type="submit" class="btn btn-info" title="Go to application" (click)="back()">back</button>&nbsp;
      <button type="submit" class="btn btn-info" title="saving application" (click)="finalise()">Finalise</button>&nbsp;
    </div>
  </form>
</ng-template>
























































<div *ngIf="application.assessmentStage==101; else isSaved">
  start
  <div>
    <form #addd="ngForm" (ngSubmit)="save()">
      <!-- application stage = 0 is {{application.assessmentStage}} -->
      <div class="form-group">
        <h2 class="text-muted">Detailed Assessment</h2>
      </div>
      <div>
        <table id="question-list" class="table table-bordered table-striped table-hover ">
          <tbody>
            <tr width="100%" *ngFor =  "let row of AssessmentPage;let i = index">
              <td width="70%">Question{{i+1}}. {{row.questionTextEN}}</td>

              <td width="30%" *ngIf="AssessmentPage[i].questionType==='MULTIPLE_CHOICE_MULTIPLE_ANSWER'; else dropdownbox">
                <div *ngFor="let option of AssessmentPage[i]['questionOptionModel'] ;let j = index">
                  <input type="checkbox" (change)="selectChangeHandler(option,$event,AssessmentPage[i].questionId)"> {{AssessmentPage[i].questionOptionModel[j]['optionTextEN']}}
                </div>
              </td>
              <ng-template #dropdownbox>
                <select style="width:100%" (change)="onSelect($event.target.value)" name="{{i}}" class="form-control">
                  <option disabled></option>
                  <option *ngFor="let singleOption of AssessmentPage[i]['questionOptionModel'];let j = index" value={{singleOption.optionId}}>
                    {{singleOption.optionTextEN}}
                  </option>
                </select>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <!-- <button type="submit" class="btn btn-info" title="saving application">Save</button>&nbsp; -->
        <button type="submit" class="btn btn-info" title="saving application" (click)="save()">Save</button>&nbsp;
        <button type="submit" class="btn btn-info" title="saving application" (click)="finalise()">Submit</button>&nbsp;
      </div>
    </form>
  </div>
</div>