
<h4>{{'Detailed Decision Tree' | translate}}</h4>
<br>
<div>
  <form>
    <h6><b>{{'Configuration for Decision Tree:' | translate}}</b></h6>
    <table datatable="bootstrap" width="100%"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped ">
        <thead bgcolor="#E0E0E0">
          <tr >
            <th>
              <font color="black">{{'Cloud Provider ID' | translate}}</font>
            </th>
            <th>
                <font color="black">{{'Cloud Provider' | translate}}</font>
            </th>
          
            <th>
              <font color="black">{{'Add Rule' | translate}}</font>
            </th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let row of AllData;let i = index" >
              <td  width="20%">{{row.providerId}}</td>
              <td width="20%">{{row.providerName}}</td>
             
              <td width="15%"><button type="submit" (click)="addRule(row.providerId)"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
      </table>
  </form>

</div>