<div>
  <h2 class="text-muted">
    <strong>Migration Pattern </strong>
    <small>Rule</small>
    <button style="background-color: white; border: aliceblue"  title="Page shows all the Migration Pattern Questions, for which you have to set Rule"
       class="btn btn-light"  >
      <i class="fa fa-question-circle"  style="font-size:25px;color:blue"></i>
    </button>
    <button class="btn btn-info btn-sm" (click)="expandall()" style="position: absolute;right: 180px" title="On button click it will show options of all questions,if answer is given then the check box will be checked otherwise unchecked">ExpandAll</button>
    <button class="btn btn-info btn-sm" (click)="hideall()" style="position: absolute;right: 100px" title="On button click it will hide options of all questions">HideAll</button>
  </h2>
</div>
<form #productForm="ngForm">
  <div class="form-group" style="width: 100%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <table style="display: inline-block" class="table-striped table-bordered">
            <thead></thead>
            <tbody>
              <tr *ngFor="let size of originalQuestions;let i = index" (click)="onClickAddrule(size,i)">

                <td style="width: 500px;margin:auto">
                  <div>
                    <span name="questionTextEN" style="word-wrap: break-word;">{{originalQuestions[i].questionTextEN}}</span>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-sm-2" align="left" style="padding-left:4%">
          <input type="button" value=">>" (click)="clicked()">
          <br>
          <br>
          <input type="button" value="<<" (click)="reverceClicked()">

        </div>


        <div class="col-sm-5" >
          <table style="display: inline-block" class="table-striped table-bordered">
            <thead></thead>
            <tbody>
              <tr *ngFor="let size of savedProviderRule;let i = index" (click)="onClickRule(size,size.questionId,i)">

                <td style="width: 500px;margin:auto">
                  <div style="width: 100%">
                      <i class="fa fa-exclamation-circle" *ngIf="size.questionId===checkValid(size.questionId)" style="font-size:15px;color:blue"></i>&nbsp;
                    <span name="questionTextEN" style="word-wrap: break-word;">{{savedProviderRule[i].questionTextEN}}</span>
                  </div>
                  <br>
                  <div >
                    <div *ngIf="savedProviderRule[i].questionId==id || expand">
                      <span *ngFor="let option of savedProviderRule[i]['questionOptionModel'] ; let op = index" name="optionTextEN">
                        <div *ngIf="RuleChecked(option,savedProviderRule[i].questionId); else Notchecked">
                          <input type="checkbox" checked (change)="selectChangeHandler(option,$event,savedProviderRule[i].questionId,savedProviderRule[i].questionTextEN)">{{savedProviderRule[i].questionOptionModel[op]['optionTextEN']}}
                          <br>
                        </div>
                        <ng-template #Notchecked>
                          <input type="checkbox" (change)="selectChangeHandler(option,$event,savedProviderRule[i].questionId,savedProviderRule[i].questionTextEN)">{{savedProviderRule[i].questionOptionModel[op]['optionTextEN']}}
                          <br>
                        </ng-template>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-info div-button" (click)="saveRule()">Submit</button>
    <button type="cancel" class="btn btn-sm btn-info" value="Cancel" (click)="Cancel()">Cancel</button>
  </div>
</form>