.div-button{
    margin-right: 5px;
}

.styling{
    background-color: lightgrey;
    width: 300px;
//   border: 25px solid green;
  padding: 25px;
//   margin: 25px;
}

.styles{

    color: black;
    text-decoration: none;
}

.divstyle{
    // margin: 25px;
    margin-left: 25px;
    margin-right: 25px;
}