<h4>{{'Detailed Decision Tree' | translate}}</h4>
<br>
<div>
  <form>
    <h6><b>{{'Configuration for Decision Tree:' | translate}}</b></h6>
    <table datatable="bootstrap" width="100%"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped ">
        <thead bgcolor="#E0E0E0">
          <tr >
            <th>
              <font color="black">{{'Migration Pattern ID' | translate}}</font>
            </th>
            <th>
                <font color="black">{{'Migration Pattern' | translate}}</font>
            </th>
          
            <th>
              <font color="black">{{'Add Rule' | translate}}</font>
            </th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor =  "let row of migrationPatternData ;let i = index" >
              <td  width="20%">{{row.migrationId}}</td>
              <td width="20%">{{row.migrationPattern}}</td>
             
              <td width="15%"><button title="Add rule for {{migrationPatternData [i].migrationPattern}}" type="submit" (click)="questions(migrationPatternData [i].migrationId)"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
      </table>
  </form>

</div>