<div>
  <h2 class="text-muted">
    <strong>{{'Migration Pattern' | translate}} </strong>
    <small>{{'Rule' | translate}}</small>
    <button style="background-color: white; border: aliceblue"  title="{{'titlePatternRule'|translate}}"
       class="btn btn-light"  >
      <i class="fa fa-question-circle"  style="font-size:25px;color:blue"></i>
    </button>
    <button class="btn btn-info btn-sm" (click)="expandall()" style="width: 120px;position: absolute;right: 230px;" title="{{'expandButtonTitle'|translate}}">{{'ExpandAll' | translate}}</button>
    <button class="btn btn-info btn-sm" (click)="hideall()" style="width: 120px;position: absolute;right: 100px" title="{{'hideButtonTitle'|translate}}">{{'HideAll' | translate}}</button>
  </h2>
</div>
<form #productForm="ngForm">
  <div class="form-group" style="width: 100%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <table style="display: inline-block" class="table-striped table-bordered">
            <thead></thead>
            <tbody>
              <tr *ngFor="let unSavedQuestionRow of originalQuestions;let i = index" (click)="onClickAddrule(unSavedQuestionRow,i)">

                <td style="width: 500px;margin:auto">
                  <div>
                    <span name="questionTextEN" style="word-wrap: break-word;">{{originalQuestions[i].questionTextEN}}</span>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-sm-2" align="left" style="padding-left:4%">
          <input type="button" value=">>" (click)="clicked()">
          <br>
          <br>
          <input type="button" value="<<" (click)="reverceClicked()">

        </div>


        <div class="col-sm-5">
          <table style="display: inline-block" class="table-striped table-bordered">
            <thead></thead>
            <tbody>
              <tr *ngFor="let rule of savedMigrationQuestion;let i = index" (click)="onClickRule(rule,i)">

                <td style="width: 500px;margin:auto">
                  <div style="width: 100%">
                      <i class="fa fa-exclamation-circle" *ngIf="rule.questionId===checkValid(rule.questionId)" style="font-size:15px;color:blue"></i>&nbsp;
                    <span name="questionTextEN" style="word-wrap: break-word;">{{savedMigrationQuestion[i].questionTextEN}}</span>
                  </div>
                  <br>
                  <div >
                    <div *ngIf="savedMigrationQuestion[i].questionId==id || expand">
                      <span *ngFor="let option of savedMigrationQuestion[i]['questionOptionModel'] ; let op = index" name="optionTextEN">
                        <div *ngIf="RuleChecked(option,savedMigrationQuestion[i].questionId); else Notchecked">
                          <input type="checkbox" checked (change)="selectChangeHandler(option,$event,savedMigrationQuestion[i])">{{savedMigrationQuestion[i].questionOptionModel[op]['optionTextEN']}}
                          <br>
                        </div>
                        <ng-template #Notchecked>
                          <input type="checkbox" (change)="selectChangeHandler(option,$event,savedMigrationQuestion[i])">{{savedMigrationQuestion[i].questionOptionModel[op]['optionTextEN']}}
                          <br>
                        </ng-template>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-info div-button" (click)="saveRule()">{{'Submit' | translate}}</button>
    <button type="cancel" class="btn btn-sm btn-info" value="Cancel" (click)="Cancel()">{{'Cancel' | translate}}</button>
  </div>
</form>