<div>
    <div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                <h1>CAT Tool</h1>
                <form role="form" #loginForm="ngForm" (ngSubmit)="onLoggedin(loginForm.value)">
                    <div class="form-content">
                        <div class="form-group">
                            <input class="form-control input-underline input-lg" type="text" [(ngModel)]="userName" #formName="ngModel" name="userName" placeholder="Name" required autocomplete="off">
                            <div *ngIf="formName?.touched" >
                                <div *ngIf="formName.errors?.required">Name can't be empty</div>
                            </div>
                       
                        </div>
                        
                        
                        <div class="form-group">
                            <!-- <input type="password" [ngModel]="password" title="enter correct password" name="password" class="form-control input-underline input-lg" placeholder="Password" required/> -->
                            <input class="form-control input-underline input-lg" type="password"  #formPassword="ngModel" [(ngModel)]="password"  name="password" placeholder="Password" required  autocomplete="off">
                        
                            <div *ngIf="formPassword?.touched" >
                                <div *ngIf="formPassword.errors?.required">Password can't be empty</div>
                             </div>
                        </div>
                         
                    </div>
                   <!-- <input type="submit"class="btn rounded-btn" value="Login"> -->
                   <button class="btn rounded-btn" (click)="onLoggedin(loginForm.value)" [disabled]="loginForm.invalid" > Log in </button>
                </form>
            </div>
        </div>
    </div>
    </div>