
<h2 class="text-muted">Users <small> Add User</small></h2>
<header>
        <p></p>
        <p><font size="3" color="red">Given fields with * are mandatory</font></p>
</header>
<div [hidden]="submitted" style="width: 300px;">
  <form role="form" #forms="ngForm" (ngSubmit)="addUserComponent(forms.value)">
    <div class="form-content">
        <div class="form-group">
            <label for="userName"><font color="green">User Name<font size="3" color="red">*</font></font></label>
            <input type="text" placeholder="Username" class="form-control" id="userName" required [(ngModel)]="userName" #formUName="ngModel" name="userName">
            <div *ngIf="formUName?.touched" >
                    <div *ngIf="formUName.errors?.required" class="color"><i>UserName can't be empty</i></div>
                    </div>
        </div>
        <div class="form-group">
                <label><font color="green">First Name<font size="3" color="red">*</font></font></label>
                <input type="text" placeholder="First Name" class="form-control" id="firstName" required [(ngModel)]="firstName" #fName="ngModel" name="firstName">
                <div *ngIf="fName?.touched" >
                        <div *ngIf="fName.errors?.required" class="color"><i>FirstName can't be empty</i></div>
                        </div>
            </div>
        <div class="form-group">
            <label><font color="green">last Name<font size="3" color="red">*</font></font></label>
            <input type="text" placeholder="Last Name" class="form-control" id="lastName" required [(ngModel)]="lastName" #lname="ngModel" name="lastName">
            <div *ngIf="lname?.touched" >
                    <div *ngIf="lname.errors?.required" class="color"><i>LastName can't be empty</i></div>
                    </div>
        </div>
        <div class="form-group">
            <label><font color="green">Company<font size="3" color="red">*</font></font></label>
            <input type="text" placeholder="Company" class="form-control" id="company" required [(ngModel)]="company" #Company="ngModel" name="company">
            <div *ngIf="Company?.touched" >
                    <div *ngIf="Company.errors?.required" class="color"><i>Company can't be empty</i></div>
            </div>
        </div>
        <div class="form-group" >
            <input type="hidden" class="form-control" id="ipAddress"  [(ngModel)]="ipAddress" name="ipAddress">
            
        </div>
        <div>
            <article>
                <label><font color="green">User Type<font size="3" color="red">*</font></font></label><br>
                <select (change)="selectChangeHandler($event)" required [(ngModel)]="userType" #UserType="ngModel" name="userType">
                    <option value="Admin">Admin   </option>
                    <option selected="selected" value="User" selected="selected">User</option> <!-- selected="selected" -->
                </select>
            </article>

        </div>
        
    </div>
    <br>
    <button type="submit" class="btn btn-sm btn-success" [disabled]="forms.invalid">Submit</button>&ngsp;&ngsp;
    <button type="submit" class="btn btn-sm btn-success">Cancel</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-info" (click)="createApplication()">Add</button>
</div>
